[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wkoathp
[access "refs/for/refs/*"]
	read = group user/wkoathp
	push = group user/wkoathp
	label-Code-Review = -2..+2 group user/wkoathp
	label-Verified = -1..+1 group user/wkoathp
	rebase = group user/wkoathp
	removeReviewer = group user/wkoathp
	submit = group user/wkoathp
[access "refs/heads/*"]
	read = group user/wkoathp
	create = group user/wkoathp
	push = +force group user/wkoathp
	pushMerge = group user/wkoathp
[access "refs/tags/*"]
	push = +force group user/wkoathp
	pushTag = group user/wkoathp
	pushSignedTag = group user/wkoathp
